# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Django
db.sqlite3
staticfiles/
media/

# Environments
.venv/
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node (if any front-end assets)
node_modules/
